
body{
    text-align: center;
    color: #543D32;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.img-logo{
    max-width:40vw;
    height: auto;
}


.img-banner{
    max-width:100%;
    height: auto;
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

.category {
    border-radius: 20px;
}

/*.category:hover {
    
}*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.5rem;
    text-shadow: .5px .5px;
}

/*.top-left {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-25%, -20%);
    color: #FFFFFF;
    font-size: 2rem;
    text-shadow: .5px .5px;
}

.top-left-mobile {
    position: absolute;
    top: 125px;
    left: 80px;
    transform: translate(-25%, -20%);
    color: #FFFFFF;
    font-size: 2rem;
    text-shadow: .5px .5px;
}*/

#content-desktop {
    display: inline;
}

#content-mobile {
    display: none;
}


@media only screen and (max-width: 810px){
    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: inline;
    }
}

.navbar{
    line-height: 4rem;
    background-color: rgba(255,255,255,0.965);
    box-shadow: 0px 1px 20px -4px rgba(0,0,0,0.5);
}

.nav-item{
    padding:0rem 0.5rem;
}

.nav-link{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: #543D32;
}

nav a{
    color: rgb(82, 60, 49);
    font-family:'Sacramento', cursive;
}

.navbar>.container, .navbar>.container-fluid{
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar-brand{
    font-size:3rem;
    padding-top:0.5rem;
    padding-left:1rem ; 
    display: inline-block;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=543D32');
}

.navbar-toggler{
    position:fixed;
    right:4rem;
    top:1.5rem;
    cursor: pointer;
}

.navbar-collapse{
    justify-content: flex-end;

}




footer .content{
    font-size: 1rem;
    color: #ffffff;
}

.social_media_icon{
    margin:2rem 1rem;
}


header>.container{
    padding:2.2rem 2rem 2rem;
    width:100vw;
    margin:auto;
    overflow:hidden;
}


.bold{
    font-weight: 900;
}

.service-header>.container{
    margin: 1rem auto 0rem;
    padding: 0rem 2rem ;
    box-sizing: content-box;
}

.service-name-image{
    display: flex;
    margin: 0 6rem;
}



/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 414px){

    .product-description{
        padding:1rem !important
    }

    footer.content{
        padding:1rem 5rem;
    }

    .navbar-brand{
        font-size:2rem;
    }

    .navbar-toggler{
        right:2rem;
    } 

    .service-category {
        margin:0rem 0rem;
    }
    
    header>.container{
        padding: 0rem;
    }

    .navbar>.container, .navbar>.container-fluid{
        padding:0;
    }

    .service-name-image{
        display:inline;
    }

    .h1-service{
        display:block !important;
    }

    .hour-individual{display: none;}

    .hour-mobile{
        display:inline-block;
        text-align:center;
        vertical-align: middle;
        width:280px;
        height:130px;
        border:3px solid #F8F4EA;
        box-sizing:border-box;
        padding:25px;
        margin:15px;
    }

    #workinghour>.container-fluid,#review>.container-fluid, #gallery>.container-fluid{
        padding: 4rem 2rem 1rem !important;
    }

    .hour-box,#review-box,#gallery-box{
        margin:1rem auto !important;
    }
    
    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.6rem;
    }


    #workinghour h4{
        font-size: 1.2rem;
        padding: 0 0 0.2rem 0;
    }

    .review-individual {
        padding:20px !important;
    }

    .service-header>.container{
        display: none;
    }

    .h1-service{
        font-size:2rem !important;
        text-align: left !important;
        margin-left:1rem !important; 

    }


    .services-individual {
        width:22rem !important;
    }
}


@media only screen and (min-width : 415px){
    .hour-mobile{
        display: none;
    }
}
@media (min-width: 1440px){
    .container {
        max-width: 1380px;
    }


}


.justify-center{
    justify-content: center;
}

.product-item{
    height: 23rem;
    
}

.dropdown{
    text-align:left;
    margin-left:1rem; 
}


.dropdown-menu{
    min-width: 18rem;
    box-shadow: 0px 1px 20px -4px rgba(0,0,0,0.5);
}


.dropdown-menu a{
    margin: 1rem 0 0 1rem; 
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    cursor: pointer;
}

.dropdown-menu a:hover{
    color: blue;
    cursor: pointer;
}

.text-in-box {
    background-color: #EBEBEB;
    color: #fff; 
    display: inline;
    padding: 0.5rem;
  
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.undernav {
    padding-top: 125px;
}



.breadcrumb {
    background-color:transparent;
    font-size: 1.1rem;
    margin: 2rem 0rem 0rem;
}


.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

#workinghour>.container-fluid{
    background-color:rgb(240, 214, 166);
    padding:7rem 2rem 4rem;
    margin:auto;
}

#review>.container-fluid{
    padding:6rem 2rem 4rem;
    margin:auto;

    background-color:#F8F4EA;

}


.service>.container-fluid {
    padding:0rem 1rem 4rem;
    margin:auto;
}

#gallery>.container-fluid{
    padding:6rem 2rem 4rem;
    margin:auto;
}

.hour-box,#review-box,#gallery-box{
    margin:3rem auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.service-category {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}


#review-box {
    margin: 1rem auto;
    padding: 0 0 1rem;
}

.hour-individual {
    text-align:center;
    width:140px;
    height:180px;
    border:3px solid #F8F4EA;
    box-sizing:border-box;
    padding:25px;
    margin:15px;
}



#workinghour h2{
    font-weight:400;
}


#workinghour h3, #review h3{

    text-align:center;
    font-family:sacramento;
    font-size: 2rem;
    font-weight:900;
}

#workinghour h4, {
    font-size: 1.3rem;
}


.review-individual {
    text-align:center;
    width:22rem;
    height:33rem;
    box-sizing:border-box;
    padding:40px;
}

#review h4{
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline-block;
}



.h1-service{
    font-family:Helvetica;
    font-size:4rem;
    font-weight: 800;
    padding:0 0 1rem 0;
    margin:auto;
    display:inline-block;
    flex-grow:9;
}

.services-individual {
    font-family: Garamond;
    text-align:left;
    width:24rem;
    height:28rem;
    background-color:#F8F4EA;
    border:2px solid #F8F4EA;
    box-sizing:border-box;
    padding:1.8rem 1.8rem 0rem 1.8rem;
    margin:1.5rem;
    position: relative;
}


.services-individual>h3{

    font-style: italic;
}

a {
    color: rgb(82, 60, 49);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover{
    color: rgb(238, 185, 85);

}

a.active{
    color: rgb(238, 185, 85);
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: rgb(82, 60, 49);
    background-color: rgb(240, 214, 166);
    border-color: rgb(240, 214, 166);
    margin: 1rem auto;
}

.btn-primary:hover{
    color: rgb(82, 60, 49);
    background-color:  rgb(240, 214, 166);
    border-color: rgb(240, 214, 166);
}



 
header h1 { 
    position: absolute; 
    top: 14rem; 
    right: 31rem; 
    width: 100%; 
}

h1 span{ 
    color: white; 
    font: bold 2rem quicksand; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

.boxed{
     display: inline-block;
     background: rgb(240, 214, 166);
     border-radius:1rem;
     box-sizing:content-box; 
     padding:0rem 1rem;
     height: 4rem;
     margin-top:0.5rem; 
     margin-left:1rem;
}

.nav-link.reserve {
    display: inline-block;
    box-sizing:content-box; 
    padding:0rem 1rem;
    top:0;
}

a.nav-link.js-scroll-trigger.reserve:hover{
    color:#FFFFFF;
}

.cta{
    position: absolute;
    display:inline-block;
    bottom:4.2rem;
    left: 2rem;
}

button.reserve{
    position: absolute;
    background-color:transparent;
    border-color:rgba(82, 60, 49, 0.521);
    color:rgb(238, 185, 85);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica;
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: .05rem;
    white-space: nowrap;
}

button.reserve:hover{
    background-color:rgb(238, 185, 85);
    color:#FFFFFF;
    border: none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                            

.customer-image{
    margin: 1rem;
    display: inline-block;
    width:15rem;
}
strong{
    font-weight: 800;
    color: rgb(238, 185, 85);
}

.p-fix-banner{
    padding: 0 30px;

}

.session{
    width:6rem;
    display: inline-block;
}



h3{
    font-size: 1.8rem;
}

h6{
    font-size: 1rem;
    margin: 0.8rem 0;
}

