
body{
    text-align: center;
    color: #543D32;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

.img-logo{
    max-width:40vw;
    height: auto;
}

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

.category {
    border-radius: 20px;
}

/*.category:hover {
    
}*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.5rem;
    text-shadow: .5px .5px;
}

.top-left {
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-25%, -20%);
    color: #FFFFFF;
    font-size: 2rem;
    text-shadow: .5px .5px;
}

.top-left-mobile {
    position: absolute;
    top: 125px;
    left: 80px;
    transform: translate(-25%, -20%);
    color: #FFFFFF;
    font-size: 2rem;
    text-shadow: .5px .5px;
}

#content-desktop {
    display: inline;
}

#content-mobile {
    display: none;
}

.image-text:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 810px){
    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: inline;
    }
}

.navbar{
    line-height: 4rem;
}

.nav-item{
    padding:0rem 0.5rem;
}

.nav-link{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: #543D32;
}

nav a{
    color: rgb(82, 60, 49);
    font-family:'Sacramento', cursive;
}

.navbar>.container, .navbar>.container-fluid{
    justify-content: stretch;
}

.navbar-brand{
    font-size:3rem;
    padding-top:0.5rem;
    padding-left:1rem ; 
    display: inline-block;
}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=543D32');
}

.navbar-toggler{
    position:fixed;
    right:4rem;
    top:1.5rem;
}


footer .content{
    font-size: 1rem;
    color: #ffffff;
}

.social_media_icon{
    margin:2rem 1rem;
}


header>.container{
    padding:0rem 2rem 5rem;
    width:100vw;
    margin:auto;
    overflow:hidden;
}




/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 414px) {
    /* Styles */

    footer .content{
        padding:1rem 5rem;
    }

    .navbar-brand{
        font-size:2rem;
        margin-left:0.2rem;
    }

    .navbar-toggler{
        right:2rem;
    } 
    
}

@media (min-width: 1440px){
    .container {
        max-width: 1380px;
    }
}


.text-in-box {
    background-color: #EBEBEB;
    color: #fff; 
    display: inline;
    padding: 0.5rem;
  
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.undernav {
    padding-top: 100px;
}

.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

#workinghour>.container-fluid{
    background-color:rgb(240, 214, 166);
    padding:7rem 2rem 4rem;
    margin:auto;
}

#review>.container-fluid{
    padding:6rem 2rem 4rem;
    margin:auto;
}

#gallery>.container-fluid{
    padding:6rem 2rem 4rem;
    margin:auto;
}

.hour-box,#review-box,#gallery-box {
    margin:3rem auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#review-box {
    margin: 1rem auto;
    padding: 0 0 1rem;
}

.hour-individual {
    text-align:center;
    width:140px;
    height:180px;
    border:2px solid #F8F4EA;
    box-sizing:border-box;
    padding:25px;
    margin:15px;
    flex:1;
}


#workinghour h2{
    font-weight:400;
}


#workinghour h3, #review h3{

    text-align:center;
    font-family:sacramento;
    font-size: 2rem;
    font-weight:900;
}

#workinghour h4, {
    font-size: 1.3rem;
}


#review{
    background-color:#F8F4EA;

}


.review-individual {
    text-align:center;
    width:22rem;
    height:20rem;
    box-sizing:border-box;
    padding:25px;
}

#review h4{
    font-size: 1rem;
    line-height: 1.5rem;
}