
body{
    text-align: center;
    color: #543D32;
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    line-height: 4rem;
}

.nav-item{
    padding:0rem 0.5rem;
}

.nav-link{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #543D32;
}

nav a{
    color: #543D32;
    font-family:'Sacramento', cursive;
}

.navbar>.container, .navbar>.container-fluid{
    justify-content: stretch;
}

.navbar-brand{
    padding: 0;
    font-size:2.5rem;
    padding-top:0.5rem; 

}

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=543D32');
}

.navbar-toggler{
    position:fixed;
    right: 1rem;
    top:1.5rem;
}


footer .content{
    font-size: 1rem;
    color: #ffffff;
}

.social_media_icon{
    margin:2rem 1rem;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 414px) {
    /* Styles */

    footer .content{
        padding:1rem 5rem;
    }

    .navbar-brand{
        font-size:2rem;
        margin-left: 1rem;
    }
    
}
